select
{
  margin-left: 5px;
  margin-right: 5px;
}

#event_text
{
  width:100%;
}

.table
{
  width: 90%;
  margin: 10px;
}

.table th, .table td
{
  height: 100px;
  width: 13%;
  vertical-align: middle;
}

.table th
{
  text-align: right;
}

.table td
{
  text-align: right;
}

.table tr:hover
{
  background-color: white;
}

.table td:hover
{
  background-color: #ccffcc;
}

.table thead th:last-child, .table thead th:nth-last-child(2)
{
  color: red;
}

.table td:last-child, .table td:nth-last-child(2)
{
  color: red;
}

ul
{
  display: inline-block;
  margin: 10px;
}

#previous, #next
{
  margin-left: 5px;
}